.about-page{
  text-align: center;
  padding: 40px;
  margin: 40px; 
}

img {
  height: 45%;
  width: 45%;
  margin-top: 30px;
  margin-bottom: 0px; 
}

.grocery-img{ 
  font-size: x-small;
  font-style: italic;
}

.about-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}