<div class="about-page">
  <h1>About</h1>
  <div class="grocery-img">
    <img src="../../assets/covid-grocery-store.jpg" alt="Coronavirus grocery store by freepik">
    <p>Image credit: Freepik</p>
  </div>
  <div class="about-text">
    <p>While we suggest staying at home and using contactless delivery for food and supplies during the coronavirus crisis, sometimes it may be necessary to shop in stores, especially if delivery isn't available in your area. To help you make an informed decision about which store may be best to shop at, and save time, we've gathered info about popular stores' safety measure and shared it here with you.</p>
    <p>If there is a store that you would like to see added to the list, please <a routerLink="/contribute"
        routerLinkActive="active">click here to contribute</a>.</p>
    <p><strong>Disclaimer:</strong> Safe Stores is a volunteer-based site aiming to help the general public quickly compare and identify stores based on their public safety practices during the COVID-19 pandemic. Any inaccurate information is unintentional, please email us at <strong>covidsafestores@gmail.com</strong> or submit a <a routerLink="/contribute" routerLinkActive="active">contribute form if you see any inaccurate or missing information</a>.</p>
  </div>
</div>
