<div class="about-page">
  <h1>About</h1>
  <div class="grocery-img">
    <img src="../../assets/covid-grocery-store.jpg" alt="Coronavirus grocery store by freepik">
    <p>Image credit: Freepik</p>
  </div>
  <div class="about-text">
    <p>If you have to leave your home to shop, find out what stores are doing to keep you safe.</p>
    <p>If there is a store that you would like to see added to the list, please <a routerLink="/contribute"
        routerLinkActive="active">click here to contribute</a>.</p>
    <p><strong>Disclaimer:</strong> Safe Stores is a volunteer-based site aiming to help the general public quickly compare and identify grocery stores based on their consumer safety practices in the time of the COVID-19 pandemic. If you see inaccurate information, please email us at [insert email here] or submit a <a routerLink="/contribute" routerLinkActive="active">contribute form</a>.</p>
  </div>
</div>
