.about-page{
  text-align: center;
  padding: 40px;
  margin: 40px; 
}

.wrapper{
  width: 100%; 
}

img {
  float: left;
  height: auto; 
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0px; 
  max-width: 100%; 
}

.grocery-img{ 
  font-size: x-small;
  font-style: italic;
}

.about-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: left;
}

@media only screen and (min-width: 768px){
  .img{
    display: block;
    width: 100%;
    padding-bottom: 30px;
  }
  .wrapper{
    width: 600px; 
    margin: 0 auto;
  }
}
