<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [ngClass]="{'hidden': !(isHandset$ | async)}"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/company-list" routerLinkActive="active">Rankings</a>
      <a mat-list-item routerLink="/company-info" routerLinkActive="active">Company Info</a>
      <a mat-list-item routerLink="/compare" routerLinkActive="active">Compare</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
    </mat-nav-list>
  <button mat-raised-button color="accent" class="request-button" routerLink="/contribute"
    routerLinkActive="active">Request a Store</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a routerLink="/company-list" routerLinkActive="active">Safe Stores</a></span>
      <span class="spacer"></span>
      <span class="navlinks" [ngClass]="{'hidden': (isHandset$ | async)}">
        <a mat-button routerLink="/company-list" routerLinkActive="active">Rankings</a>
        <a mat-button routerLink="/company-info" routerLinkActive="active">Company Info</a>
        <a mat-button routerLink="/compare" routerLinkActive="active">Compare</a>
        <a mat-button routerLink="/about" routerLinkActive="active">About</a>
        <button mat-raised-button color="accent" routerLink="/contribute"
          routerLinkActive="active">Request a Store</button>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
