<mat-toolbar color="primary" class="fixed-header">  
  <mat-toolbar-row>
    <!-- <span><img src="../assets/woman-at-grocery.jpg" style="width:50px"></span> -->
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
    <a mat-button routerLink="/company-list" routerLinkActive="active">Company List</a>
    <a mat-button routerLink="/shop-locator" routerLinkActive="active">Shop Locator</a>
    <a mat-button routerLink="/safety-measures" routerLinkActive="active">Safety Measures</a>
    <a mat-button routerLink="/contribute" routerLinkActive="active">Contribute</a>
  </mat-toolbar-row> 
</mat-toolbar>
<main>
  <router-outlet style="margin-top: 80px;"></router-outlet>
</main>
